/* Import Section */

@import url("./reset.css");
@import url("./querys.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

/* End Import Section  */

/* Variables Root  */

:root {
  --fuenteTitle: source-serif-4, serif;
  --fuente-principal: raleway, sans-serif;
  --fuente-secundaria: open-sans, sans-serif;
  --colorprimario: #3f5850;
  --colorsecundario: #e3ece6;
  --margin: 0.625rem;
  --maxwidth: 90%;
  --fontsize: 1rem;
}

* {
  box-sizing: border-box;
}

/* Scroll Animado */

html {
  scroll-behavior: smooth;
}

/* Estilos Globales */

body {
  font-size: var(--fontsize);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fuente-secundaria);
}

.container {
  max-width: var(--maxwidth);
  margin: 0 auto;
}

img {
  height: auto;
  display: block;
  width: 100%;
}

/* Más estilos globales */

button {
  cursor: pointer;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

/* Estilos del header */

.container__promo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em auto;
  color: whitesmoke;
  font-size: 72%;
  line-height: 120%;

  b {
    font-weight: bold;
  }
}

header .nav__bar {
  background-color: var(--colorprimario);
  padding: 1rem 0em;
}

header .nav__bar .container {
  display: flex;
  justify-content: space-around;
}
header .nav__bar a {
  color: var(--colorprimario);
  text-decoration: none;
  /* font-size: 1.2em; */
}

/* header .nav__bar a span {
  color: white;
  display: none;
} */

header nav {
  background-color: white;
  padding: 1.25em;
}

header nav .container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;

  h2 {
    font-weight: bold;
    font-size: 1rem;
    width: 3rem;
    /* max-width: 5rem; */
  }
}

header nav .container .logo {
  max-width: 6rem;

  span {
    padding: 3rem 0;
  }
}

header nav .container .hamburguesa {
  width: 1.875em;
  cursor: pointer;
}

header nav .container .hamburguesa > div {
  border-top: 2px solid #aaa;
  margin-bottom: 0.625em;
}

.menu__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav .container ul.menu {
  width: 100%;
  text-align: center;
}

header nav .container .menu li a {
  display: block;
  padding: 1.25em;
  font-size: 1rem;
  text-decoration: none;
  color: #aaaaaa;
}

header nav .container .menu li:last-child a {
  border: 0px;
}

header nav .container .menu li :is(a:hover, .activo) {
  color: var(--colorprimario);
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.5s;
}

header {
  .search__bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em auto;

    input {
      text-align: center;
    }
  }

  #buscador {
    border-radius: 50rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    width: 50%;
    border-width: 3px;
    border-color: #ffb524 !important;
    font-family: var(--fuente-secundaria) !important;
  }
}

/* Estilos del main */

.escaparate {
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0.625rem;
  justify-items: center;
  /* height: auto; */

  article {
    margin: 1rem auto;
    padding: 1em;
    border-left: 0.1875rem solid var(--colorsecundario);
    box-shadow: 0.0525rem 0.0525rem 0.3125rem 0.0325rem;
    border-radius: 0.625rem;
    text-align: center;
    transition: 1s;

    &:hover {
      transform: scale(103%);

      img {
        transition: 0.5s;
        transform: scale(105%) rotate(3deg);
        justify-content: center;
      }
    }

    img {
      width: 9.375rem;
      height: 9.375rem;
      margin: 0 auto;
      border: 2px solid #ffb524;
      border-radius: 50%;
    }

    h3 {
      font-size: 1.25rem;
      font-weight: 700;
      margin-top: 1.875rem;
      color: var(--colorprimario);
    }

    ul {
      font-size: 17px;
      margin: 2.25rem auto;
      font-weight: 400;
    }

    li {
      line-height: 1.2rem;
      margin: 2.25rem auto;

      :last-child {
        font-weight: bold;
        color: var(--colorprimario);
      }
    }

    button {
      border: 1px solid #ffb524;
      margin-top: 1rem;
      width: 9.375rem;
      height: 2.875rem;
      border-radius: 50rem;
      background-color: var(--colorsecundario);
      font-weight: 600;
      color: var(--colorprimario);

      &:hover {
        background-color: var(--colorprimario);
        color: var(--colorsecundario);
        transform: scale(120%);
      }
    }
  }
}

.paginas {
  text-align: center;
  margin-top: 2rem;

  button {
    width: 6.25rem;
    height: 1.875rem;
    margin: 0.625rem;
    background-color: var(--colorsecundario);

    &:hover {
      background-color: var(--colorprimario);
      color: var(--colorsecundario);
      font-weight: 700;
    }
  }
}

.carro {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 70%;
  background-color: var(--colorsecundario);
  border-left: 0.1875rem solid var(--colorsecundario);
  box-shadow: 0.0525rem 0.0525rem 0.3125rem 0.0325rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
  transition: transform 0.3s;
  transform: translateX(100%);

  /* width: 40%;
  height: 100vh;
  position: fixed;
  top: 50px;
  right: -40%;
  transition: 0.5s;
  border-left: 0.1875rem solid var(--colorsecundario);
  box-shadow: 0.0525rem 0.0525rem 0.3125rem 0.0325rem; */

  aside {
    margin-top: 6rem;
    padding: 0.625rem;
  }

  h2 {
    text-align: center;
    margin-bottom: 3.125rem;
    font-size: 1.8rem;
    font-weight: 700;
    /* border-right: 0.125rem solid var(--colorprimario); */
    border-bottom: 0.125rem solid var(--colorprimario);
    border-radius: 50rem;
    padding: 1em;
    font-family: var(--fuenteTitle);
  }

  ul {
    li {
      width: 100%;
      margin: 0.3125rem 0;

      list-style: circle;
      display: flex;
      justify-content: space-between;

      &:before {
        content: "•";
      }

      p {
        display: inline-block;
        margin-right: auto;
        margin-left: 0.3125rem;
        flex-grow: 1;
      }

      button {
        margin-left: 0.125rem;
      }

      button:last-child {
        background-color: rgb(224, 51, 51);
      }
    }
  }

  div {
    margin-top: 1.25rem;

    #total {
      margin: 0.625rem;
      font-weight: 700;
    }

    button:not(#cart) {
      /* width: 100%;
      height: 2.1875rem;
      text-align: center;
      border-radius: 0.3125rem;
      background-color: var(--colorprimario);
      color: var(--colorsecundario);
      font-size: 1.3rem;
      font-weight: 700; */

      width: 90%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      display: block;
      background-color: var(--colorprimario);
      color: #fff;
      border-radius: 40px !important;

      &:hover {
        transform: scale(105%);
      }
    }
  }

  #cart {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--colorsecundario);
    border: none;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    box-shadow: 0.0625rem 0.0625rem 0.0625rem 0.0625rem;
    position: absolute;
    top: 5rem;
    left: -5.125rem;

    &:hover,
    &.active {
      transform: scale(110%);
      box-shadow: 0 0 0.1875rem 0.3125rem var(--colorprimario);
    }
  }
}

/* Estilo de los botones cuando están deshabilitados */

.escaparate button:disabled {
  background-color: lightgrey;
  color: red;
}

/*Estilos del Footer  */

footer {
  font-family: var(--fuente-secundaria);
  background-color: var(--colorsecundario);
  padding: 2rem 0 !important;
  text-align: center;
  color: forestgreen;
  width: 100%;
  bottom: 0;
  margin-top: 2rem;
}

footer a {
  text-decoration: none;
  color: forestgreen;
}

footer a:hover {
  color: var(--colorprimario);
}
